 #BalanceQuerySelectCustomer{
halign:center;
height:fill;
width:fill;
layout:vbox;
}
 #viewPage0 {
halign:center;
height:fill;
layout:vbox;
background:#F5F5F5;
width:fill;
}
 #navigatorbar0 {
padding-right:8;
padding-left:8;
height:44.0;
color:#000000;
font-size:17;
layout:hbox;
width:fill;
font-family:default;
valign:center;
}
 #button0 {
padding-left:20;
hAlign:left;
height:44;
color:#e50011;
pressed-image:btn_back_touch;
font-size:17;
width:88;
font-family:default;
font-pressed-color:#f2adb2;
vAlign:center;
background-image:btn_back;
}
 #label0 {
hAlign:center;
weight:1;
height:fill;
color:#000000;
font-size:14;
width:0;
font-family:default;
vAlign:center;
}

