 #BIllreport {
     halign: center;
     height: 569;
     width: fill;
     layout: vbox;
     valign: TOP;
 }

 #viewPage0 {
     halign: center;
     height: fill;
     width: fill;
     background: #F7F8F8;
     layout: vbox;
     valign: TOP;
 }

 #navigatorbar0 {
     padding-left: 0;
     halign: LEFT;
     background: #0aa9ff;
     font-size: 18;
 }

 #imagebutton2 {
     icon-height: 25;
     height: 44;
     font-size: 10;
     width: 44;
     icon-background-image: back.png;
     icon-width: 25;
     icon-pressed-image: back.png;
     icon-text-spacing: 3;
 }

 #label0 {
     halign: center;
     weight: 1;
     height: fill;
     color: #000000;
     width: 0;
     font-size: 14;
     font-family: default;
     valign: center;
 }

 #imagebutton1 {
     icon-height: 25;
     height: 44;
     font-size: 10;
     width: 44;
     icon-background-image: search.png;
     icon-width: 25;
     icon-pressed-image: search.png;
     icon-text-spacing: 3;
 }

 #back {
    padding-left: 20;
    width: 88;
    background-image: btn_back;
    halign: left;
    height: 44;
    pressed-image: btn_back_touch;
}

 #imagebutton0 {
     icon-height: 25;
     height: 44;
     font-size: 10;
     width: 44;
     icon-background-image: filter.png;
     icon-width: 25;
     icon-pressed-image: filter.png;
     icon-text-spacing: 3;
 }

 #togglebuttongroup0 {
     halign: CENTER;
     height: 36;
     width: fill;
     background: #ffffff;
     layout: hbox;
     valign: top;
 }

 #togglebutton0 {
     halign: center;
     height: 34.0;
     color: #333333;
     width: 64.0;
     font-pressed-color: #00458a;
     valign: center;
     background-image-on: toggle_line.png;
 }

 #togglebutton1 {
     halign: center;
     height: 34.0;
     color: #333333;
     width: 64.0;
     font-pressed-color: #00458a;
     valign: center;
     background-image-on: toggle_line.png;
 }

 #togglebutton2 {
     halign: center;
     height: 34.0;
     color: #333333;
     width: 64.0;
     font-pressed-color: #00458a;
     valign: center;
     background-image-on: toggle_line.png;
 }

 #togglebutton3 {
     halign: center;
     height: 34.0;
     color: #333333;
     width: 64.0;
     font-pressed-color: #00458a;
     valign: center;
     background-image-on: toggle_line.png;
 }

 #togglebutton4 {
     halign: center;
     height: 34.0;
     color: #333333;
     width: 64.0;
     font-size: 17;
     font-family: default;
     font-pressed-color: #00458a;
     valign: center;
     background-image-on: toggle_line.png;
 }

 #checklistview {
     margin-right: 8;
     halign: center;
     weight: 1;
     height: 0;
     onitemcreate: this.onitemcreate();
     width: fill;
     layout: vbox;
     margin-left: 8;
     margin-top: 10;
     valign: TOP;
 }

 #panel0 {
     border-bottom-width: 1;
     padding-left: 10;
     padding-right: 10;
     halign: LEFT;
     height: 70;
     width: fill;
     background: #FFFFFF;
     layout: hbox;
     valign: center;
     border-bottom-color: #e2e2e2;
 }

 #panel4 {
     halign: center;
     weight: 1;
     height: fill;
     width: 0;
     layout: vbox;
     valign: TOP;
 }

 #panel1 {
     halign: LEFT;
     weight: 1;
     height: 0;
     width: fill;
     layout: hbox;
     valign: center;
 }

 #label3 {
     halign: left;
     widthWrap: 68.0;
     height: fill;
     color: #333333;
     width: wrap;
     font-size: 16;
     font-family: default;
     margin-top: 4;
     valign: center;
 }

 #label2 {
     halign: center;
     weight: 1;
     height: wrap;
     color: #000000;
     heightWrap: 20.0;
     width: 0;
     font-size: 14;
     font-family: default;
     valign: center;
 }

 #label4 {
     halign: right;
     widthWrap: 60.0;
     height: fill;
     color: #666666;
     width: wrap;
     font-size: 14;
     font-family: default;
     margin-top: 4;
     valign: center;
 }

 #panel2 {
     halign: LEFT;
     weight: 1;
     height: 0;
     width: fill;
     layout: hbox;
     valign: center;
 }

 #label5 {
     halign: left;
     widthWrap: 52.0;
     height: fill;
     color: #666666;
     width: wrap;
     font-size: 12;
     margin-bottom: 4;
     font-family: default;
     valign: center;
 }

 #label8 {
     halign: center;
     weight: 1;
     height: wrap;
     color: #000000;
     heightWrap: 20.0;
     width: 0;
     font-size: 14;
     font-family: default;
     valign: center;
 }

 #label7 {
     halign: right;
     widthWrap: 70.0;
     height: fill;
     color: #666666;
     width: wrap;
     font-size: 13;
     margin-bottom: 4;
     font-family: default;
     valign: center;
 }

 #panel3 {
     halign: LEFT;
     height: 22;
     border-radius: 5;
     width: 45;
     layout: hbox;
     margin-left: 10;
     valign: center;
 }

 #label6 {
     halign: center;
     height: 20;
     color: #ffffff;
     width: fill;
     font-size: 14;
     font-family: default;
     valign: center;
 }

 #label1 {
     halign: center;
     height: 1;
     color: #000000;
     width: fill;
     font-size: 14;
     background: #999999;
     font-family: default;
     valign: center;
 }