 #Detailreport {
layout:vbox;
width:fill;
valign:TOP;
halign:center;
height:569;
}
 #viewPage0 {
layout:vbox;
background:#F7F8F8;
width:fill;
valign:TOP;
halign:center;
height:fill;
}
 #navigatorbar0 {
background:#0aa9ff;
padding-left:0;
font-size:18;
halign:LEFT;
}
 #back {
padding-left:20;
width:88;
background-image:btn_back;
halign:left;
height:44;
pressed-image:btn_back_touch;
}
 #webcontrol1 {
layout:vbox;
width:fill;
valign:TOP;
halign:center;
height:fill;
}
