 #HomePageNew {
layout:vbox;
width:fill;
valign:TOP;
halign:center;
height:fill;
}
 #viewPage0 {
layout:vbox;
background:#F5F5F5;
width:fill;
valign:TOP;
halign:center;
height:fill;
}
 #panel0 {
layout:vbox;
width:fill;
valign:TOP;
halign:center;
height:fill;
}
 #panel3 {
layout:hbox;
background:#f7f7f7;
width:fill;
valign:center;
halign:CENTER;
height:40;
}
 #paneleft {
layout:hbox;
background:#ffffff;
width:0;
weight:1;
valign:center;
halign:RIGHT;
height:fill;
}
 #label0 {
color:#616161;
font-weight:bold;
background:#ffffff;
width:0;
weight:2;
font-size:20;
valign:center;
font-family:default;
halign:center;
height:fill;
}
 #panelright {
layout:hbox;
background:#ffffff;
width:0;
weight:1;
valign:center;
halign:RIGHT;
height:fill;
}
 #usercenter {
width:25;
font-size:10;
background-image:center1copy.png;
icon-text-spacing:3;
margin-right:6;
height:25;
}
 #webcontrolmenu {
layout:vbox;
width:fill;
valign:TOP;
halign:center;
height:fill;
}
