 #HomePage {
     layout: vbox;
     width: fill;
     valign: TOP;
     halign: center;
     height: fill;
 }

 #viewPage0 {
     layout: vbox;
     background: #F5F5F5;
     width: fill;
     valign: TOP;
     halign: center;
     height: fill;
 }

 #panel0 {
     layout: vbox;
     width: fill;
     valign: TOP;
     halign: center;
     height: fill;
 }

 #panel1 {
     layout: vbox;
     background: #e3e3e3;
     width: fill;
     valign: TOP;
     halign: center;
     height: wrap;
 }

 #panel3 {
     layout: hbox;
     background: #f7f7f7;
     width: fill;
     valign: center;
     halign: CENTER;
     height: 35;
 }

 #label0 {
     color: #616161;
     font-weight: bold;
     width: 0;
     weight: 2;
     font-size: 15;
     valign: center;
     font-family: default;
     halign: center;
     height: fill;
     background: #ffffff;
 }

 #paneleft {
    layout: hbox;
    background: #ffffff;
    width: 0;
    weight: 1;
    valign: center;
    halign: RIGHT;
    height: fill;
}

 #panelright {
     layout: hbox;
     background: #ffffff;
     width: 0;
     weight: 1;
     valign: center;
     halign: RIGHT;
     height: fill;
 }

 #usercenter {
     width: 25;
     font-size: 10;
     background-image: center1copy.png;
     icon-text-spacing: 3;
     margin-right: 6;
     height: 25;
 }

 #panel6 {
     layout: hbox;
     background: #F5F5F5;
     width: fill;
     valign: center;
     halign: LEFT;
     height: 120;
 }

 #imageflipper0 {
     width: fill;
     height: fill;
 }

 #panel8 {
     layout: vbox;
     background: #F7F7F7;
     width: 75.0;
     valign: CENTER;
     halign: center;
     margin-right: 10;
     height: fill;
 }

 #label11 {
     color: #6c6c6c;
     heightWrap: 20.0;
     width: wrap;
     font-size: 14;
     valign: center;
     font-family: default;
     halign: center;
     widthWrap: 70.0;
     height: wrap;
 }

 #viewPage1 {
     halign: left;
     height: 500;
     background: #F5F5F5;
     layout: vbox;
     width: fill;
     valign: TOP;
     padding-top: 5;
 }

 #div_pickuporder {
     halign: CENTER;
     height: 120;
     layout: hbox;
     background: #F5F5F5;
     width: fill;
     valign: center;
 }

 #panel39 {
     halign: CENTER;
     height: 100;
     weight: 1;
     layout: hbox;
     width: 0;
     valign: center;
 }

 #imagebutton0 {
     border-radius:46;
     border-bottom-width: 2;
     
     width: 92;
     border-bottom-color: #0080ff;
     border-top-width: 2;
     border-left-color: #0080ff;
     border-top-color: #0080ff;
     height: 92;
     color: #ffffff;
     background: #0080ff;
     border-right-color: #0080ff;
     font-size: 15;
     border-right-width: 2;
     border-left-width: 2;
 }

 #panel49 {
     halign: CENTER;
     height: 100;
     weight: 1;
     layout: hbox;
     width: 0;
     valign: center;
 }

 #imagebutton1 {
     border-radius:46;
     border-bottom-width: 2;
     
     width: 92;
     border-bottom-color: #0062c4;
     border-top-width: 2;
     border-left-color: #0062c4;
     border-top-color: #0062c4;
     height: 92;
     color: #ffffff;
     background: #0062c4;
     border-right-color: #0062c4;
     font-size: 15;
     border-right-width: 2;
     border-left-width: 2;
 }

 #panel59 {
     halign: CENTER;
     height: 100;
     weight: 1;
     layout: hbox;
     width: 0;
     valign: center;
 }

 #imagebutton2 {
     border-radius:46;
     border-bottom-width: 2;
     
     width: 92;
     border-bottom-color: #00458a;
     border-top-width: 2;
     border-left-color: #00458a;
     border-top-color: #00458a;
     height: 92;
     color: #ffffff;
     background: #00458a;
     border-right-color: #00458a;
     font-size: 15;
     border-right-width: 2;
     border-left-width: 2;
 }

 #div_pickuporder2 {
     halign: CENTER;
     height: 120;
     layout: hbox;
     background: #F5F5F5;
     width: fill;
     valign: center;
 }

 #panel89 {
     halign: CENTER;
     height: 100;
     weight: 1;
     layout: hbox;
     width: 0;
     valign: center;
 }

 #imagebutton3 {
     border-radius:46;
     border-bottom-width: 2;
     
     width: 92;
     border-bottom-color: #00e1ff;
     border-top-width: 2;
     border-left-color: #00e1ff;
     border-top-color: #00e1ff;
     height: 92;
     color: #ffffff;
     background: #00e1ff;
     border-right-color: #00e1ff;
     font-size: 15;
     border-right-width: 2;
     border-left-width: 2;
 }

 #panel79 {
     halign: CENTER;
     height: 100;
     weight: 1;
     layout: hbox;
     width: 0;
     valign: center;
 }

 #imagebutton4 {
     border-radius:46;
     border-bottom-width: 2;
     
     width: 92;
     border-bottom-color: #00a4b9;
     border-top-width: 2;
     border-left-color: #00a4b9;
     border-top-color: #00a4b9;
     height: 92;
     color: #ffffff;
     background: #00a4b9;
     border-right-color: #00a4b9;
     font-size: 15;
     border-right-width: 2;
     border-left-width: 2;
 }

 #panel69 {
     halign: CENTER;
     height: 100;
     weight: 1;
     layout: hbox;
     width: 0;
     valign: center;
 }

 #imagebutton5 {
     border-radius:46;
     border-bottom-width: 2;
     
     width: 92;
     border-bottom-color: #006e7c;
     border-top-width: 2;
     border-left-color: #006e7c;
     border-top-color: #006e7c;
     height: 92;
     color: #ffffff;
     background: #006e7c;
     border-right-color: #006e7c;
     font-size: 15;
     border-right-width: 2;
     border-left-width: 2;
 }

 #div_deliveryorder {
     halign: CENTER;
     height: 120;
     layout: hbox;
     background: #F5F5F5;
     width: fill;
     valign: center;
 }

 #div_deliveryorder2 {
    halign: CENTER;
    height: 120;
    layout: hbox;
    background: #F5F5F5;
    width: fill;
    valign: center;
}

 #panel99 {
     halign: CENTER;
     height: 100;
     weight: 1;
     layout: hbox;
     width: 0;
     valign: center;
 }

 #panel999 {
    halign: CENTER;
    height: 100;
    weight: 1;
    layout: hbox;
    width: 0;
    valign: center;
}

#panel9992 {
    halign: CENTER;
    height: 100;
    weight: 1;
    layout: hbox;
    width: 0;
    valign: center;
}

#panel9993 {
    halign: CENTER;
    height: 100;
    weight: 1;
    layout: hbox;
    width: 0;
    valign: center;
}

 #imagebutton6{
     border-radius:46;
     border-bottom-width: 2;
     
     width: 92;
     border-top-width: 2;
     height: 92;
     color: #ffffff;
     background: #00ff4c;
     font-size: 15;
     border-right-width: 2;
     border-left-width: 2;
     border-bottom-color: #00ff4c;
     border-left-color: #00ff4c;
     border-top-color: #00ff4c;
     border-right-color: #00ff4c;
 }

 #panel109 {
     border-bottom-width: 2;
     halign: CENTER;
     height: 100;
     weight: 1;
     layout: hbox;
     width: 0;
     border-right-width: 2;
     valign: center;
     border-left-width: 2;
     border-top-width: 2;
 }

 #imagebutton7 {
     border-radius:46;
     border-bottom-width: 2;
     
     width: 92;
     border-top-width: 2;
     height: 92;
     color: #ffffff;
     background: #00c03a;
     font-size: 15;
     border-right-width: 2;
     border-left-width: 2;
     border-bottom-color: #00c03a;
     border-left-color: #00c03a;
     border-top-color: #00c03a;
     border-right-color: #00c03a;
 }

 #panel119 {
     halign: CENTER;
     height: 100;
     weight: 1;
     layout: hbox;
     width: 0;
     valign: center;
 }

 #imagebutton8 {
     border-radius:46;
     border-bottom-width: 2;
     
     width: 92;
     border-top-width: 2;
     height: 92;
     color: #ffffff;
     background: #008127;
     font-size: 10;
     border-right-width: 2;
     border-left-width: 2;
     border-bottom-color: #008127;
     border-left-color: #008127;
     border-top-color: #008127;
     border-right-color: #008127;
 }

 #imagebutton9{
    border-radius:46;
    border-bottom-width: 2;
    
    width: 92;
    border-top-width: 2;
    height: 92;
    color: #ffffff;
    background: #88ff00;
    font-size: 10;
    border-right-width: 2;
    border-left-width: 2;
    border-bottom-color: #88ff00;
    border-left-color: #88ff00;
    border-top-color: #88ff00;
    border-right-color: #88ff00;
}
 