 #ModifyPassword {
halign:center;
height:fill;
width:fill;
layout:vbox;
valign:TOP;
}
 #viewPage0 {
halign:center;
height:fill;
width:fill;
background:#F5F5F5;
layout:vbox;
valign:TOP;
}
#navigatorbar0 {
    halign: LEFT;
    background: #0aa9ff;
    font-size: 18;
}

#back {
   padding-left: 20;
   width: 88;
   background-image: btn_back;
   halign: left;
   height: 44;
   pressed-image: btn_back_touch;
}
 #label0 {
halign:center;
height:fill;
weight:1;
color:#000000;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #panel0 {
margin-right:25;
halign:LEFT;
height:40;
background:#ffffff;
layout:hbox;
width:fill;
margin-left:25;
margin-top:30;
valign:center;
}
 #txt_oldpw {
padding-left:4;
halign:LEFT;
height:fill;
color:#167ef8;
background:#ffffff;
font-size:15;
width:245;
font-family:default;
}
 #panel1 {
margin-right:25;
halign:LEFT;
height:40;
background:#ffffff;
layout:hbox;
width:fill;
margin-left:25;
margin-bottom:15;
margin-top:15;
valign:center;
}
 #txt_newpw1 {
padding-left:4;
halign:LEFT;
height:fill;
color:#167ef8;
background:#ffffff;
font-size:15;
width:fill;
font-family:default;
}
 #panel2 {
margin-right:25;
halign:LEFT;
height:40;
background:#ffffff;
layout:hbox;
width:fill;
margin-left:25;
valign:center;
}
 #txt_newpw2 {
padding-left:4;
halign:LEFT;
height:fill;
color:#167ef8;
background:#ffffff;
font-size:15;
width:fill;
font-family:default;
}
 #panel3 {
border-bottom-width:2;
halign:CENTER;
border-radius:5;
width:fill;
border-bottom-color:#edf1fe;
border-top-width:2;
margin-right:25;
border-left-color:#edf1fe;
border-top-color:#edf1fe;
height:40;
border-right-color:#edf1fe;
background:#13b5f2;
layout:hbox;
margin-left:25;
border-right-width:1;
margin-top:15;
valign:center;
border-left-width:1;
}
 #button1 {
color:#ffffff;
width:60;
font-pressed-color:#c0c0c0;
}
