 #NotificationMenu {
     halign: center;
     height: 569;
     width: fill;
     layout: vbox;
     valign: TOP;
 }

 #viewPage0 {
     halign: center;
     height: fill;
     width: fill;
     background: #f7f8f8;
     layout: vbox;
     valign: TOP;
 }

 #navigatorbar0 {
     halign: LEFT;
     background: #0aa9ff;
     font-size: 18;
 }

 #label0 {
     halign: center;
     weight: 1;
     height: fill;
     color: #000000;
     width: 0;
     font-size: 20;
     font-family: default;
     valign: center;
 }

 #back {
     padding-left: 20;
     width: 88;
     background-image: btn_back;
     halign: left;
     height: 44;
     pressed-image: btn_back_touch;
 }

 #button1 {
     halign: right;
     height: 44;
     pressed-image: setting_pressed.png;
     width: 44;
     font-size: 16;
     background-image: setting.png;
 }

 #panel4 {
     halign: center;
     weight: 1;
     height: wrap;
     width: fill;
     layout: vbox;
     valign: TOP;
 }

 #maintitle {
     halign: LEFT;
     height: 46;
     width: fill;
     layout: hbox;
     background: #ffffff;
     margin-top: 24;
     valign: center;
 }

 #image2 {
     margin-right: 24;
     height: 44;
     width: 44;
     margin-left: 15;
 }

 #label1 {
     halign: left;
     height: 46;
     color: #595757;
     width: fill;
     font-size: 15;
     font-family: default;
     valign: center;
 }

 #row0 {
     halign: LEFT;
     height: 96;
     width: fill;
     layout: hbox;
     margin-top: 18;
     valign: center;
 }

 #th00 {
     height: 20;
     width: 30;
     layout: relative;
 }

 #menu11 {
     icon-height: 30;
     height: 76;
     border-radius: 38;
     color: #ffffff;
     background: #ffcd40;
     font-size: 11;
     width: 76;
     icon-background-image: poster.png;
     icon-width: 30;
     icon-text-spacing: 6;
 }

 #th01 {
     weight: 1;
     height: 20;
     width: 0;
     layout: relative;
 }

 #menu12 {
     icon-height: 30;
     height: 76;
     border-radius: 38;
     color: #ffffff;
     background: #fe9137;
     font-size: 11;
     width: 76;
     icon-background-image: aftercall.png;
     icon-width: 30;
     icon-pressed-image: aftercall.png;
     icon-text-spacing: 6;
 }

 #th02 {
     weight: 1;
     height: 20;
     width: 0;
     layout: relative;
 }

 #menu13 {
     icon-height: 30;
     height: 76;
     border-radius: 38;
     color: #ffffff;
     background: #ff4081;
     font-size: 11;
     width: 76;
     icon-background-image: contacts.png;
     icon-width: 30;
     icon-pressed-image: contacts.png;
     icon-text-spacing: 6;
 }

 #th03 {
     height: 20;
     width: 30;
     layout: relative;
 }

 #row1 {
     halign: LEFT;
     height: 96;
     width: fill;
     layout: hbox;
     valign: center;
 }

 #panel7 {
     height: 20;
     width: 30;
     layout: relative;
 }

 #menu21 {
     icon-height: 30;
     height: 76;
     border-radius: 38;
     color: #ffffff;
     background: #9a3a52;
     font-size: 11;
     width: 76;
     icon-background-image: massages.png;
     icon-width: 30;
     icon-text-spacing: 10;
 }

 #panel15 {
     weight: 1;
     height: 20;
     width: 0;
     layout: relative;
 }

 #menu22 {
     icon-height: 30;
     height: 76;
     border-radius: 38;
     color: #ffffff;
     background: #5baef5;
     font-size: 11;
     width: 76;
     icon-background-image: aftercall.png;
     icon-width: 30;
     icon-pressed-image: aftercall.png;
     icon-text-spacing: 10;
 }

 #panel11 {
     weight: 1;
     height: 20;
     width: 0;
     layout: relative;
 }

 #menu23 {
     icon-height: 30;
     height: 76;
     border-radius: 38;
     color: #ffffff;
     background: #52c168;
     font-size: 11;
     width: 76;
     icon-background-image: aftercall.png;
     icon-width: 30;
     icon-pressed-image: aftercall.png;
     icon-text-spacing: 10;
 }

 #panel19 {
     height: 20;
     width: 30;
     layout: relative;
 }

 #lineTop {
     height: 1;
     background: #f1f1f1;
     width: fill;
     layout: relative;
     margin-top: 18;
 }

 #tj0 {
     halign: LEFT;
     height: 44;
     width: fill;
     layout: hbox;
     background: #ffffff;
     valign: center;
     pressed-color: #2D5AA7;
 }

 #label7 {
     halign: center;
     widthWrap: 64.0;
     height: wrap;
     color: #595757;
     heightWrap: 22.0;
     width: wrap;
     font-size: 15;
     margin-left: 15;
     font-family: default;
     valign: center;
 }

 #panel12 {
     weight: 1;
     height: 20;
     width: 0;
     layout: relative;
     pressed-color: #2D5AA7;
 }

 #image0 {
     margin-right: 15;
     height: 12;
     width: 8;
 }

 #line1 {
     height: 1;
     background: #f1f1f1;
     width: fill;
     layout: relative;
     margin-left: 10;
 }

 #line2 {
     height: 1;
     background: #f1f1f1;
     width: fill;
     layout: relative;
     margin-left: 10;
 }

 #tj1 {
     halign: LEFT;
     height: 44;
     width: fill;
     layout: hbox;
     background: #ffffff;
     valign: center;
     pressed-color: #2D5AA7;
 }

 #tj2 {
     halign: LEFT;
     height: 44;
     width: fill;
     layout: hbox;
     background: #ffffff;
     valign: center;
     pressed-color: #2D5AA7;
 }

 #label8 {
     halign: center;
     widthWrap: 64.0;
     height: wrap;
     color: #595757;
     heightWrap: 22.0;
     width: wrap;
     font-size: 15;
     margin-left: 15;
     font-family: default;
     valign: center;
 }

 #label9 {
     halign: center;
     widthWrap: 64.0;
     height: wrap;
     color: #595757;
     heightWrap: 22.0;
     width: wrap;
     font-size: 15;
     margin-left: 15;
     font-family: default;
     valign: center;
 }

 #panel16 {
     weight: 1;
     height: 20;
     width: 0;
     layout: relative;
     pressed-color: #2D5AA7;
 }

 #panel17 {
     weight: 1;
     height: 20;
     width: 0;
     layout: relative;
     pressed-color: #2D5AA7;
 }

 #image1 {
     margin-right: 15;
     height: 12;
     width: 8;
 }

 #image222 {
     margin-right: 15;
     height: 12;
     width: 8;
 }

 #lineBottom {
     height: 1;
     background: #f1f1f1;
     width: fill;
     layout: relative;
 }

 #panel8 {
    border-bottom-width: 1;
    halign: LEFT;
    height: 120;
    width: fill;
    layout: hbox;
    margin-left: 10;
    valign: center;
    border-bottom-color: #C7C7C7;
    background: #ffffff;
}

#panel14 {
    border-bottom-width: 1;
    halign: LEFT;
    height: 120;
    width: fill;
    layout: hbox;
    background: #ffffff;
    margin-left: 10;
    valign: center;
    border-bottom-color: #C7C7C7;
}

#image3 {
    height: 100;
    width: 100;
}

#panel155 {
    halign: center;
    weight: 1;
    height: fill;
    width: 0;
    background: #ffffff;
    layout: vbox;
    margin-left: 20;
    margin-bottom: 2;
    valign: TOP;
}

#label14 {
    halign: left;
    height: 50;
    color: #2A2A2A;
    width: fill;
    font-size: 20;
    font-family: default;
    valign: center;
}

#panel165 {
    halign: LEFT;
    weight: 1;
    height: 0;
    width: fill;
    layout: hbox;
    valign: center;
}

#label15 {
    halign: center;
    widthWrap: 44.0;
    height: fill;
    color: #F15353;
    width: wrap;
    font-size: 20;
    font-family: default;
    valign: center;
}

#label16 {
    halign: center;
    height: 25;
    border-radius: 5;
    color: #ffffff;
    width: 25;
    background: #F15353;
    font-size: 14;
    margin-left: 15;
    font-family: default;
    valign: center;
}

#panel175 {
    halign: LEFT;
    height: 30;
    width: fill;
    layout: hbox;
    valign: center;
}

#label17 {
    halign: center;
    widthWrap: 34.0;
    height: fill;
    color: #8B8D90;
    width: wrap;
    font-size: 14;
    font-family: default;
    valign: center;
}

#label18 {
    halign: center;
    widthWrap: 34.0;
    height: fill;
    color: #8B8D90;
    width: wrap;
    font-size: 14;
    margin-left: 10;
    font-family: default;
    valign: center;
}

#panel9 {
    border-bottom-width: 1;
    halign: LEFT;
    height: 120;
    width: fill;
    layout: hbox;
    margin-left: 10;
    margin-top: 10;
    valign: center;
    border-bottom-color: #C7C7C7;
    background: #ffffff;
}

#panel142 {
    border-bottom-width: 1;
    halign: LEFT;
    height: 120;
    width: fill;
    layout: hbox;
    background: #ffffff;
    margin-left: 10;
    valign: center;
    border-bottom-color: #C7C7C7;
}

#image32 {
    height: 100;
    width: 100;
}

#panel1552 {
    halign: center;
    weight: 1;
    height: fill;
    width: 0;
    background: #ffffff;
    layout: vbox;
    margin-left: 20;
    margin-bottom: 2;
    valign: TOP;
}

#label142 {
    halign: left;
    height: 50;
    color: #2A2A2A;
    width: fill;
    font-size: 20;
    font-family: default;
    valign: center;
}

#panel1652 {
    halign: LEFT;
    weight: 1;
    height: 0;
    width: fill;
    layout: hbox;
    valign: center;
}

#label152 {
    halign: center;
    widthWrap: 44.0;
    height: fill;
    color: #F15353;
    width: wrap;
    font-size: 20;
    font-family: default;
    valign: center;
}

#label162 {
    halign: center;
    height: 25;
    border-radius: 5;
    color: #ffffff;
    width: 25;
    background: #F15353;
    font-size: 14;
    margin-left: 15;
    font-family: default;
    valign: center;
}

#panel1752 {
    halign: LEFT;
    height: 30;
    width: fill;
    layout: hbox;
    valign: center;
}

#label172 {
    halign: center;
    widthWrap: 34.0;
    height: fill;
    color: #8B8D90;
    width: wrap;
    font-size: 14;
    font-family: default;
    valign: center;
}

#label182 {
    halign: center;
    widthWrap: 34.0;
    height: fill;
    color: #8B8D90;
    width: wrap;
    font-size: 14;
    margin-left: 10;
    font-family: default;
    valign: center;
}

#panel10 {
    border-bottom-width: 1;
    halign: LEFT;
    height: 120;
    width: fill;
    layout: hbox;
    margin-left: 10;
    margin-top: 10;
    valign: center;
    border-bottom-color: #C7C7C7;
    background: #ffffff;
}

#panel143 {
    border-bottom-width: 1;
    halign: LEFT;
    height: 120;
    width: fill;
    layout: hbox;
    background: #ffffff;
    margin-left: 10;
    valign: center;
    border-bottom-color: #C7C7C7;
}

#image33 {
    height: 100;
    width: 100;
}

#panel1553 {
    halign: center;
    weight: 1;
    height: fill;
    width: 0;
    background: #ffffff;
    layout: vbox;
    margin-left: 20;
    margin-bottom: 2;
    valign: TOP;
}

#label143 {
    halign: left;
    height: 50;
    color: #2A2A2A;
    width: fill;
    font-size: 20;
    font-family: default;
    valign: center;
}

#panel1653 {
    halign: LEFT;
    weight: 1;
    height: 0;
    width: fill;
    layout: hbox;
    valign: center;
}

#label153 {
    halign: center;
    widthWrap: 44.0;
    height: fill;
    color: #F15353;
    width: wrap;
    font-size: 20;
    font-family: default;
    valign: center;
}

#label163 {
    halign: center;
    height: 25;
    border-radius: 5;
    color: #ffffff;
    width: 25;
    background: #F15353;
    font-size: 14;
    margin-left: 15;
    font-family: default;
    valign: center;
}

#panel1753 {
    halign: LEFT;
    height: 30;
    width: fill;
    layout: hbox;
    valign: center;
}

#label173 {
    halign: center;
    widthWrap: 34.0;
    height: fill;
    color: #8B8D90;
    width: wrap;
    font-size: 14;
    font-family: default;
    valign: center;
}

#label183 {
    halign: center;
    widthWrap: 34.0;
    height: fill;
    color: #8B8D90;
    width: wrap;
    font-size: 14;
    margin-left: 10;
    font-family: default;
    valign: center;
}

