 #PurchaseOrderList {
halign:center;
height:fill;
width:fill;
layout:vbox;
valign:TOP;
}
 #viewPage0 {
halign:center;
height:fill;
background:#F7F8F8;
layout:vbox;
width:fill;
valign:TOP;
}
 #navigatorbar0 {
halign:LEFT;
font-size:16;
background:#13b5f2;
}
 #btn_back {
padding-left:20;
halign:left;
height:44;
pressed-image:btn_back_touch;
width:80;
background-image:btn_back;
}
 #panel0 {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
}
 #panel1 {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
}
 #pnl_queryarea {
halign:center;
height:325;
layout:vbox;
width:fill;
margin-top:10;
valign:TOP;
}
 #pnl_query1 {
margin-right:15;
halign:CENTER;
height:30;
layout:hbox;
background:#fcfcfc;
width:fill;
margin-left:15;
valign:center;
}
 #lbl_begindate {
margin-right:5;
halign:center;
height:fill;
widthWrap:75.0;
color:#585858;
font-size:14;
width:wrap;
font-family:default;
valign:center;
}
 #begindate {
padding-left:4;
halign:RIGHT;
height:fill;
color:#167ef8;
font-size:15;
width:fill;
font-family:default;
}
 #pnl_query2 {
margin-right:15;
halign:CENTER;
height:30;
layout:hbox;
background:#fcfcfc;
width:fill;
margin-left:15;
margin-top:5;
valign:center;
}
 #lbl_enddate {
margin-right:5;
halign:center;
height:fill;
widthWrap:75.0;
color:#585858;
font-size:14;
width:wrap;
font-family:default;
valign:center;
}
 #enddate {
padding-left:4;
halign:RIGHT;
height:fill;
color:#167ef8;
font-size:15;
width:fill;
font-family:default;
}
 #panel12 {
margin-right:15;
halign:LEFT;
height:30;
layout:hbox;
background:#fcfcfc;
width:fill;
margin-left:15;
margin-top:5;
valign:center;
}
 #label10 {
halign:center;
height:fill;
widthWrap:60.0;
color:#585858;
font-size:14;
width:wrap;
font-family:default;
valign:center;
}
 #panel13 {
halign:LEFT;
height:fill;
layout:hbox;
width:fill;
valign:center;
}
 #lbl_querysupplier {
halign:right;
height:fill;
weight:1;
color:#000000;
background:#fcfcfc;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #image3 {
margin-right:5;
height:16;
width:11;
margin-left:5;
}
 #panel4 {
margin-right:15;
halign:LEFT;
height:30;
layout:hbox;
background:#fcfcfc;
width:fill;
margin-left:15;
margin-top:5;
valign:center;
}
 #label3 {
halign:center;
height:fill;
widthWrap:75.0;
color:#585858;
font-size:14;
width:wrap;
font-family:default;
valign:center;
}
 #panel9 {
halign:LEFT;
height:fill;
layout:hbox;
width:fill;
valign:center;
}
 #lbl_querypurorg {
halign:right;
height:fill;
weight:1;
color:#000000;
background:#fcfcfc;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #image1 {
margin-right:5;
height:16;
width:11;
margin-left:5;
}
 #panel10 {
margin-right:15;
halign:LEFT;
height:30;
layout:hbox;
background:#fcfcfc;
width:fill;
margin-left:15;
margin-top:5;
valign:center;
}
 #label7 {
halign:center;
height:fill;
widthWrap:75.0;
color:#585858;
font-size:14;
width:wrap;
font-family:default;
valign:center;
}
 #panel11 {
halign:LEFT;
height:fill;
layout:hbox;
width:fill;
valign:center;
}
 #lbl_querystockorg {
halign:right;
height:fill;
weight:1;
color:#000000;
background:#fcfcfc;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #image2 {
margin-right:5;
height:16;
width:11;
margin-left:5;
}
 #pnl_query4 {
margin-right:15;
halign:CENTER;
height:30;
background:#fcfcfc;
layout:hbox;
width:fill;
margin-left:15;
margin-top:5;
valign:center;
}
 #lbl_querymaterial {
margin-right:5;
halign:center;
height:fill;
widthWrap:45.0;
color:#585858;
font-size:14;
width:wrap;
font-family:default;
valign:center;
}
 #pnl_selectmat {
halign:LEFT;
height:fill;
background:#fcfcfc;
layout:hbox;
width:fill;
valign:center;
}
 #lbl_matname {
halign:right;
height:fill;
weight:1;
color:#000000;
font-size:14;
background:#fcfcfc;
width:0;
font-family:default;
valign:center;
}
 #img_goselectmat {
margin-right:5;
height:16;
width:11;
margin-left:5;
}
 #pnl_query5 {
margin-right:15;
halign:LEFT;
height:30;
layout:hbox;
background:#fcfcfc;
width:fill;
margin-left:15;
margin-top:5;
valign:center;
}
 #lbl_queryvlience {
margin-right:5;
halign:center;
height:fill;
widthWrap:75.0;
color:#585858;
font-size:14;
width:wrap;
font-family:default;
valign:center;
}
 #txt_vlicensecode {
halign:RIGHT;
height:fill;
weight:1;
color:#167ef8;
background:#fcfcfc;
font-size:14;
width:0;
font-family:default;
}
 #imagebutton0 {
margin-right:5;
icon-height:16;
height:16;
font-size:10;
width:11;
margin-left:5;
icon-background-image:arrow.png;
icon-width:11;
icon-pressed-image:arrow.png;
icon-text-spacing:3;
}
 #pnl_query3 {
margin-right:15;
halign:LEFT;
height:30;
background:#fcfcfc;
layout:hbox;
width:fill;
margin-left:15;
margin-top:5;
valign:center;
}
 #lbl_billcode {
margin-right:5;
halign:center;
height:fill;
widthWrap:60.0;
color:#585858;
font-size:14;
width:wrap;
font-family:default;
valign:center;
}
 #orderno {
halign:RIGHT;
height:fill;
color:#167ef8;
font-size:14;
width:fill;
font-family:default;
}
 #btn_query {
height:40;
border-radius:3;
color:#ffffff;
background:#ff8000;
width:130;
margin-top:10;
font-pressed-color:#13b5f2;
}
 #imgbtn_showquery {
icon-height:10;
height:20;
font-size:10;
width:64;
icon-background-image:spread2.png;
icon-width:20;
icon-pressed-image:spread2.png;
icon-text-spacing:3;
}
 #list_purchaseorder {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
}
 #panel5 {
border-bottom-width:1;
halign:LEFT;
height:100;
layout:hbox;
background:#FFFFFF;
width:fill;
valign:center;
border-bottom-color:#C7C7C7;
}
 #panel6 {
halign:LEFT;
height:fill;
layout:hbox;
width:44;
margin-left:5;
valign:center;
}
 #image0 {
height:44;
width:44;
}
 #panel7 {
halign:left;
height:fill;
layout:vbox;
width:190;
margin-left:7;
valign:CENTER;
}
 #lbl_orderno {
halign:left;
height:wrap;
widthWrap:161.0;
color:#363636;
heightWrap:20.0;
font-size:14;
width:wrap;
font-family:default;
valign:center;
}
 #lbl_billdate {
halign:left;
height:wrap;
widthWrap:136.0;
color:#707070;
heightWrap:18.0;
font-size:12;
width:wrap;
font-family:default;
valign:center;
}
 #lbl_supplier {
halign:left;
height:wrap;
widthWrap:39.0;
color:#707070;
heightWrap:18.0;
font-size:12;
width:wrap;
font-family:default;
valign:center;
}
 #label1 {
halign:left;
height:20;
color:#707070;
font-size:12;
width:fill;
font-family:default;
valign:center;
}
 #label6 {
halign:left;
height:20;
color:#000000;
font-size:14;
width:fill;
font-family:default;
valign:center;
}
 #panel8 {
margin-right:5;
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:CENTER;
}
 #panel2 {
halign:CENTER;
height:20;
layout:hbox;
width:fill;
valign:center;
}
 #label8 {
halign:center;
height:20;
widthWrap:45.0;
color:#000000;
font-size:14;
width:wrap;
font-family:default;
valign:center;
}
 #lbl_nnum {
halign:center;
height:20;
widthWrap:8.0;
color:#000000;
font-size:14;
width:wrap;
font-family:default;
valign:center;
}
 #label0 {
halign:center;
height:fill;
widthWrap:30.0;
color:#000000;
font-size:14;
width:wrap;
font-family:default;
valign:center;
}
 #panel3 {
halign:CENTER;
height:20;
layout:hbox;
width:fill;
margin-top:5;
valign:center;
}
 #label5 {
halign:center;
height:fill;
widthWrap:45.0;
color:#000000;
font-size:14;
width:wrap;
font-family:default;
valign:center;
}
 #lbl_remainnum {
halign:center;
height:wrap;
widthWrap:8.0;
color:#000000;
heightWrap:20.0;
font-size:14;
width:wrap;
font-family:default;
valign:center;
}
 #label2 {
halign:center;
height:fill;
widthWrap:30.0;
color:#000000;
font-size:14;
width:wrap;
font-family:default;
valign:center;
}


#panel_mine {
    margin-right:15;
    halign:LEFT;
    height:30;
    layout:hbox;
    background:#fcfcfc;
    width:fill;
    margin-left:15;
    margin-top:5;
    valign:center;
    }
     #label_mine {
    halign:center;
    height:fill;
    widthWrap:60.0;
    color:#585858;
    font-size:14;
    width:wrap;
    font-family:default;
    valign:center;
    }
     #panel_mine_inner {
    halign:LEFT;
    height:fill;
    layout:hbox;
    width:fill;
    valign:center;
    }
     #lbl_mine {
    halign:right;
    height:fill;
    weight:1;
    color:#000000;
    background:#fcfcfc;
    font-size:14;
    width:0;
    font-family:default;
    valign:center;
    }
     #image_mine {
    margin-right:5;
    height:16;
    width:11;
    margin-left:5;
    }
