 #SalesAdvOrderSearch {
     layout: vbox;
     width: fill;
     valign: TOP;
     halign: center;
     height: fill;
 }

 #viewPage0 {
     layout: vbox;
     width: fill;
     valign: TOP;
     halign: center;
     height: fill;
 }

 #panel1 {
     layout: hbox;
     width: fill;
     valign: top;
     halign: LEFT;
     height: 50;
 }

 #navigatorbar0 {
    halign: LEFT;
    background: #0aa9ff;
    font-size: 18;
}

#back {
    padding-left: 20;
    width: 88;
    background-image: btn_back;
    halign: left;
    height: 44;
    pressed-image: btn_back_touch;
}

 #label0 {
     color: #000000;
     width: 0;
     weight: 1;
     font-size: 14;
     valign: center;
     font-family: default;
     halign: center;
     height: fill;
 }

 #panel0 {
     layout: vbox;
     width: fill;
     valign: TOP;
     margin-top: 10;
     halign: center;
     height: fill;
 }

 #startdatepanel {
     layout: hbox;
     margin-left: 15;
     background: #fcfcfc;
     width: fill;
     valign: center;
     halign: CENTER;
     margin-right: 15;
     height: 30;
 }

 #startdatelabel {
     color: #585858;
     background: #fcfcfc;
     width: wrap;
     font-size: 14;
     valign: center;
     font-family: default;
     halign: left;
     widthWrap: 75.0;
     margin-right: 5;
     height: fill;
 }

 #begindate {
     color: #167ef8;
     background: #fcfcfc;
     padding-left: 4;
     width: fill;
     font-size: 15;
     font-family: default;
     halign: RIGHT;
     padding-right: 4;
     height: fill;
 }

 #overdatepanel {
     layout: hbox;
     margin-left: 15;
     background: #fcfcfc;
     width: fill;
     valign: center;
     margin-top: 5;
     halign: CENTER;
     margin-right: 15;
     height: 30;
 }

 #overdatelabel {
     color: #585858;
     background: #fcfcfc;
     width: wrap;
     font-size: 14;
     valign: center;
     font-family: default;
     halign: left;
     widthWrap: 75.0;
     margin-right: 5;
     height: fill;
 }

 #enddate {
     color: #167ef8;
     background: #fcfcfc;
     padding-left: 4;
     width: fill;
     font-size: 15;
     font-family: default;
     halign: RIGHT;
     padding-right: 4;
     height: fill;
 }

 #panel6 {
     layout: hbox;
     margin-left: 15;
     background: #fcfcfc;
     width: fill;
     valign: center;
     margin-top: 5;
     halign: CENTER;
     margin-right: 15;
     height: 30;
 }

 #label4 {
     color: #585858;
     background: #fcfcfc;
     width: wrap;
     font-size: 14;
     valign: center;
     font-family: default;
     halign: left;
     widthWrap: 45.0;
     margin-right: 5;
     height: fill;
 }

 #changecustomer {
     layout: hbox;
     width: fill;
     valign: center;
     halign: LEFT;
     height: fill;
 }

 #customer {
     color: #000000;
     background: #fcfcfc;
     width: 0;
     weight: 1;
     font-size: 14;
     valign: center;
     font-family: default;
     halign: right;
     height: fill;
 }

 #image1 {
     margin-left: 5;
     width: 11;
     margin-right: 5;
     height: 16;
 }

 #panel33 {
     layout: hbox;
     margin-left: 15;
     background: #fcfcfc;
     width: fill;
     valign: center;
     margin-top: 5;
     halign: LEFT;
     margin-right: 15;
     height: 30;
 }

 #label7 {
     color: #585858;
     background: #fcfcfc;
     width: wrap;
     font-size: 14;
     valign: center;
     font-family: default;
     halign: left;
     widthWrap: 75.0;
     margin-right: 5;
     height: fill;
 }

 #txt_drivername {
     color: #167ef8;
     background: #ffffff;
     width: 0;
     weight: 1;
     font-size: 14;
     font-family: default;
     halign: RIGHT;
     height: fill;
 }

 #imgbtn_selectDriver {
     icon-pressed-image: arrow.png;
     icon-height: 15;
     font-size: 10;
     icon-text-spacing: 3;
     background: #ffffff;
     icon-background-image: arrow.png;
     width: 32;
     icon-width: 15;
     height: 32;
 }

 #panel4 {
     layout: hbox;
     margin-left: 15;
     background: #fcfcfc;
     width: fill;
     valign: center;
     margin-top: 5;
     halign: CENTER;
     margin-right: 15;
     height: 30;
 }

 #label2 {
     color: #585858;
     background: #fcfcfc;
     width: wrap;
     font-size: 14;
     valign: center;
     font-family: default;
     halign: left;
     widthWrap: 45.0;
     margin-right: 5;
     height: fill;
 }

 #changegoodsname {
     layout: hbox;
     width: fill;
     valign: center;
     halign: LEFT;
     height: fill;
 }

 #goodsname {
     color: #000000;
     background: #fcfcfc;
     width: 0;
     weight: 1;
     font-size: 14;
     valign: center;
     font-family: default;
     halign: right;
     height: fill;
 }

 #image0 {
     margin-left: 5;
     width: 11;
     margin-right: 5;
     height: 16;
 }

 #panel5 {
     layout: hbox;
     margin-left: 15;
     background: #fcfcfc;
     width: fill;
     valign: center;
     margin-top: 5;
     halign: LEFT;
     margin-right: 15;
     height: 30;
 }

 #label3 {
     color: #585858;
     background: #fcfcfc;
     width: wrap;
     font-size: 14;
     valign: center;
     font-family: default;
     halign: left;
     widthWrap: 75.0;
     margin-right: 5;
     height: fill;
 }

 #vlicense {
     color: #167ef8;
     background: #fcfcfc;
     padding-left: 4;
     width: 0;
     weight: 1;
     font-size: 15;
     font-family: default;
     halign: RIGHT;
     padding-right: 4;
     height: fill;
 }

 #imgbtn_selectcar {
     icon-pressed-image: arrow.png;
     icon-height: 16;
     font-size: 10;
     icon-text-spacing: 3;
     margin-right: 5;
     margin-left: 5;
     icon-background-image: arrow.png;
     width: 11;
     icon-width: 11;
     height: 16;
 }

 #panel3 {
     layout: hbox;
     margin-left: 15;
     background: #fcfcfc;
     width: fill;
     valign: center;
     margin-top: 5;
     halign: CENTER;
     margin-right: 15;
     height: 30;
 }

 #label1 {
     color: #585858;
     background: #fcfcfc;
     width: wrap;
     font-size: 14;
     valign: center;
     font-family: default;
     halign: left;
     widthWrap: 60.0;
     margin-right: 5;
     height: fill;
 }

 #panel2 {
     layout: hbox;
     background: #fcfcfc;
     width: fill;
     valign: center;
     halign: LEFT;
     height: fill;
 }

 #billcode {
     color: #167ef8;
     background: #fcfcfc;
     padding-left: 4;
     width: fill;
     font-size: 15;
     font-family: default;
     halign: RIGHT;
     padding-right: 4;
     height: fill;
 }

 #panel333 {
     layout: hbox;
     margin-left: 15;
     background: #fcfcfc;
     width: fill;
     valign: center;
     margin-top: 15;
     halign: CENTER;
     margin-right: 15;
     height: 100;
 }

 #label11 {
     color: #585858;
     background: #fcfcfc;
     width: wrap;
     font-size: 14;
     valign: center;
     font-family: default;
     halign: left;
     widthWrap: 60.0;
     margin-right: 5;
     height: fill;
 }

 #panel22 {
     layout: hbox;
     background: #fcfcfc;
     width: fill;
     valign: center;
     halign: LEFT;
     height: fill;
 }

 #picker0 {
     color: #167ef8;
     background: #fcfcfc;
     padding-left: 4;
     width: fill;
     font-size: 15;
     font-family: default;
     halign: RIGHT;
     padding-right: 4;
     height: fill;
 }

 #searchbutton {
     border-radius: 8;
     font-pressed-color: #13b5f2;
     color: #ffffff;
     background: #ff8f59;
     width: 150;
     margin-top: 20;
     height: 35;
 }