 #SelfInputDialog {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
}
 #viewPage0 {
padding-top:5;
halign:center;
height:fill;
background:#434343;
layout:vbox;
width:fill;
valign:TOP;
padding-bottom:5;
}
 #panel4 {
padding-left:5;
padding-right:5;
padding-top:1;
halign:CENTER;
height:40;
layout:hbox;
background:#434343;
width:fill;
valign:center;
padding-bottom:1;
}
 #pnl_vlicense {
border-bottom-width:2;
halign:LEFT;
border-radius:5;
width:146;
border-bottom-color:#ffffff;
border-top-width:2;
margin-right:2;
border-left-color:#ffffff;
border-top-color:#ffffff;
height:fill;
border-right-color:#ffffff;
layout:hbox;
background:#0000ff;
border-right-width:2;
margin-left:2;
valign:center;
border-left-width:2;
}
 #lbl_vlicense1 {
halign:center;
height:36;
color:#ffffff;
font-size:17;
width:25;
font-family:default;
valign:center;
}
 #lbl_vlicense2 {
halign:center;
height:36;
color:#ffffff;
font-size:17;
width:15;
font-family:default;
valign:center;
}
 #label2 {
halign:center;
height:36;
color:#ffffff;
font-size:14;
width:20;
font-family:default;
valign:center;
}
 #lbl_vlicense3 {
margin-right:4;
halign:left;
height:36;
color:#ffffff;
font-size:17;
width:fill;
font-family:default;
valign:center;
}
 #btn_cancel {
border-radius:4;
width:71;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_done {
margin-right:2;
height:38;
border-radius:4;
color:#ffffff;
background:#666666;
width:71;
margin-left:2;
font-pressed-color:#ffffff;
}
 #pnl_numchar {
halign:center;
height:160;
background:#434343;
layout:vbox;
width:fill;
valign:TOP;
}
 #panel0 {
padding-right:5;
padding-left:5;
halign:CENTER;
height:40;
layout:hbox;
background:#434343;
width:fill;
valign:center;
}
 #btn_numchar1 {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_numchar2 {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_numchar3 {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_numchar4 {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_numchar5 {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_numchar6 {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_numchar7 {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_numchar8 {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_numchar9 {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_numchar0 {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #panel1 {
padding-right:5;
padding-left:5;
halign:CENTER;
height:40;
layout:hbox;
background:#434343;
width:fill;
valign:center;
}
 #btn_numcharQ {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_numcharW {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_numcharE {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_numcharR {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_numcharT {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_numcharY {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_numcharU {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_numcharI {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_numcharO {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_numcharP {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #panel2 {
padding-right:5;
padding-left:5;
halign:CENTER;
height:40;
layout:hbox;
background:#434343;
width:fill;
valign:center;
}
 #btn_numcharA {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:17;
margin-top:1;
}
 #btn_numcharS {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_numcharD {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_numcharF {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_numcharG {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_numcharH {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_numcharJ {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_numcharK {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_numcharL {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#FFFFFF;
margin-right:17;
height:38;
color:#FFFFFF;
background:#666666;
margin-left:2;
margin-top:1;
}
 #panel3 {
padding-right:5;
padding-left:5;
halign:CENTER;
height:40;
layout:hbox;
background:#434343;
width:fill;
valign:center;
}
 #btn_showhz {
border-radius:4;
width:41;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_numcharZ {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_numcharX {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_numcharC {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_numcharV {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_numcharB {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_numcharN {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_numcharM {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_delete {
border-radius:4;
width:41;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #pnl_firsthz {
halign:center;
height:160;
layout:vbox;
background:#434343;
width:fill;
valign:TOP;
}
 #panel6 {
padding-right:5;
padding-left:5;
halign:CENTER;
height:40;
background:#434343;
layout:hbox;
width:fill;
valign:center;
}
 #btn_pabbr1 {
border-radius:4;
width:40;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:5;
height:38;
color:#ffffff;
background:#666666;
margin-left:5;
margin-top:1;
}
 #bbtn_pabbr2 {
border-radius:4;
width:40;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:5;
height:38;
color:#ffffff;
background:#666666;
margin-left:5;
margin-top:1;
}
 #btn_pabbr3 {
border-radius:4;
width:40;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:5;
height:38;
color:#ffffff;
background:#666666;
margin-left:5;
margin-top:1;
}
 #btn_pabbr4 {
border-radius:4;
width:40;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:5;
height:38;
color:#ffffff;
background:#666666;
margin-left:5;
margin-top:1;
}
 #btn_pabbr5 {
border-radius:4;
width:40;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:5;
height:38;
color:#ffffff;
background:#666666;
margin-left:5;
margin-top:1;
}
 #panel7 {
padding-right:5;
padding-left:5;
halign:CENTER;
height:40;
background:#434343;
layout:hbox;
width:fill;
valign:center;
}
 #btn_pabbr6 {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_pabbr7 {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_pabbr8 {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_pabbr9 {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_pabbr10 {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_pabbr11 {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_pabbr12 {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_pabbr13 {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_pabbr14 {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_pabbr15 {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #panel8 {
padding-right:5;
padding-left:5;
halign:CENTER;
height:40;
background:#434343;
layout:hbox;
width:fill;
valign:center;
}
 #btn_pabbr16 {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:17;
margin-top:1;
}
 #btn_pabbr17 {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_pabbr18 {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_pabbr19 {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_pabbr20 {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_pabbr21 {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_pabbr22 {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_pabbr23 {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_pabbr24 {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:17;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #panel9 {
padding-right:5;
padding-left:5;
halign:CENTER;
height:40;
background:#434343;
layout:hbox;
width:fill;
valign:center;
}
 #btn_pabbr25 {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_pabbr26 {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_pabbr27 {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_pabbr28 {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_pabbr29 {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_pabbr30 {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_pabbr31 {
border-radius:4;
width:26;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
 #btn_showywsz {
border-radius:4;
width:86;
margin-bottom:1;
font-pressed-color:#ffffff;
margin-right:2;
height:38;
color:#ffffff;
background:#666666;
margin-left:2;
margin-top:1;
}
