 #WebViewWindow {
halign:center;
height:fill;
width:fill;
layout:vbox;
valign:TOP;
}
 #viewPage0 {
halign:center;
height:fill;
width:fill;
background:#F5F5F5;
layout:vbox;
valign:TOP;
}
#navigatorbar0 {
    halign: LEFT;
    background: #0aa9ff;
    font-size: 18;
}

#back {
   padding-left: 20;
   width: 88;
   background-image: btn_back;
   halign: left;
   height: 44;
   pressed-image: btn_back_touch;
}
 #label0 {
halign:center;
height:fill;
weight:1;
color:#000000;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #webview {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
}
