*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background: #ffffff;
    font: 100%/1.618 "Lato", sans-serif;
    font-weight: 400;
    color: #444;
    text-rendering: optimizeLegibility;
    position: relative;
}

#mobile {
    width: 360px;
    min-height: 768px;
    background: #fff;
    border-width: 100px 20px;
    border-color: #33322f;
    border-style: solid;
    border-radius: 30px;
    margin: 30px auto 0;
}

label {
    display: block;
    padding: 12px 6px;
}

label:hover {
    cursor: pointer;
}

.intro {
    padding: 10px;
}

h1 {
    color: #9b9b9b;
    font-weight: 700;
    font-size: 2.5em;
}

h2 {
    color: #bbb;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.5em;
}

.button {
    background: #277ceb;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    display: block;
    padding: 15px;
    text-decoration: none;
}

.hidden {
    display: none;
    visibility: hidden;
}

table {
    width: 1000px;
    text-align: center;
    position: relative;
    margin: 0 0 40px 0;
}

table tbody tr:nth-child(odd) {
    background: #f5f6f6b4;
}

table .current {
    background: rgba(46, 76, 238, 0.2);
    font-weight: 700;
}

table tr {
    position: relative;
    width: 100%;
}

table tr.feat:nth-child(4n+3) {
    background: #f6f5f5;
}

table tr.sub, table tr.total {
    background: #dce2e3 !important;
}

table .feat:hover {
    cursor: pointer;
}

table .desc {
    display: none;
    background: #e1e1e1;
}

table .desc td:first-child {
    padding: 15px;
    text-align: left;
}

table th {
    background: #277ceb;
    width: fit-content;
    color: #fff;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

table th div {
    height: 46px;
    padding: 8px 0 0 0;
}

table th:first-child {
    /* width: 35%; */
    border-left: none;
}

table th:hover {
    cursor: pointer;
}

table th .icons {
    top: 0px;
    left: 4px;
    position: relative;
    color: rgba(255, 255, 255, 0.6);
}

table th ul {
    width: 100%;
    background: #ce1576;
    display: none;
}

table th ul li {
    padding: 10px 0;
}

table th ul li:hover {
    background: #277ceb;
}

table td {
    padding: 6px 6px;
    font-size: 0.9em;
    vertical-align: middle;
}

/* table td:first-child {
    text-align: right;
} */

table td.color {
    background: rgba(150, 150, 150, 0.1);
}

.icons {
    font-size: 1em;
    line-height: 1em;
}