<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta charset="UTF-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="vehiclesList.css">
    <!-- <link type="text/css" rel="stylesheet" href="../common/public.css"> -->

    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script> -->
    <script language="JavaScript" src="./js/jquery-3.4.1.slim.min.js"></script>
    <script language="JavaScript" src="./js/vue.common.dev.js"></script>
    <script language="JavaScript" src="../../Frameworks/iuapmobile.native.all.js"></script>
    <!-- <script src="https://cdn.bootcss.com/vue/2.6.10/vue.common.dev.js"></script> -->
    <script type="text/javascript" src="vehiclesList.js"></script>

</head>

<body>
    <div id="vehiclesList">
        <div class="vehicleItem" v-for="(item, index) in items" @click="goDetail(index)">
            车牌：{{ item.vlicense}}</br></br>
            司机：{{item.drivername}}
            <div class="status">{{item.amount+"辆"}}</div>
            <div class="delete" @click.stop="deleteItem(index)">删除</div>
        </div>
        <div id="nomoreInfo" v-if="(items.length==0)">——— 当前无车辆信息 ———</div>
        <div id="addInfo" @click="goDetail('-99')">
            <!-- <div id="plusicon">+</div> -->
            添加车辆信息
        </div>
    </div>
</body>

</html>