body {
    background: #3e74c7;
    margin: 0;
}

#vehicleList{
    margin: 3%;
    width: 94%;
}

#vehicleList .infoItem{
    background: white;
    margin: 0 0 10px 0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 5px 0px #325b9a;
    position: relative;
}

#vehicleList .infoItem.read{
    background: rgb(230, 230, 230);
    color: #808080;
}

#vehicleList .infoItem.read .status{
    background: rgb(206, 206, 206);
    color: #929292;
}

#vehicleList .infoItem .status{
    position: absolute;
    right: 15px;
    bottom: 15px;
    background: #3e74c7;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    width: 50px;
    text-align: center;
}

#nomoreInfo{
    width: 100%;
    text-align: center;
    height: 40px;
    color: #2c4265;
}

.notificationBox{
    margin: 5%;
    width: 80%;
    background: white;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 0px #325b9a;
}

.notificationBox .title{
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 500;
    color: #325b9a;
}

.notificationBox .content{
}

.notificationBox .date{
    width: 100%;
    text-align: right;
    margin-top: 15px;
    font-size: 15px;
    color: #325b9a;
}

.um-content {
    /* padding-left: 15px; */
    /* padding-right: 15px; */
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    -webkit-transform-origin: top center;
    transform-origin: top center;
    border-radius: 10px;
    margin: 3%;
}

.ultra-item {
    width: 95%;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    background: white;
    padding: 2.5%;
}

.ultra-item+.ultra-item {
    border-top: 1px solid #fafafa;
}

.ultra-item .ultra-label {
    line-height: 24px;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    width: 30%;
    min-height: 52px;
    padding-right: 2.5%;
    border-right: 1px solid #fafafa;
}

.ultra-item .ultra-content {
    width: 70%;
    height: 52px;
    position: relative;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
}

.ultra-item input, .ultra-item textarea {
    width: 100%;
    height: 100%;
    font-size: 16px;
    outline: none;
    border: none;
    padding-left: 10px;
    resize: none;
}

.confirmBtn{
    background: #ffffff;
    width: 50%;
    text-align: center;
    font-size: 20px;
    color: #0d397d;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 !important;
    line-height: 40px;
    border-right: 1px solid #5cb1ff;
    font-weight: bold;
    position: fixed;
    bottom: 30px;
    width: 50%;
    margin: 0 22%;
    letter-spacing: 10px;
    border-radius: 10px !important;
    height: 50px;
    box-shadow: 0px 2px 5px 0px #325b9a;
}

.confirmBtn:active{
    opacity: 0.3;
}
